# Virtualenv
venv/

# Jupyter Notebook
.ipynb_checkpoints

# logs
*.log

# Temporary data
*temp_data.csv

# Third-party data (that requires download from maintainer)
heart.csv # UCI Heart Disease Data Set (https://www.kaggle.com/ronitf/heart-disease-uci)
